/* Stiziles */

html, body {
  background: #222222;
}

h1 {
  font-size: 42px;
  font-weight: 200
}

.centered {
  text-align: center
}

/* main */

.main {
  width: 100%;
  height: 100%;
  background: #222222;
  color: #fff;
}

.main img {
  width: 103px;
  height: 89px;
  margin-bottom: 10px;
  text-align: center;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}



.dragdealer {
  position: relative;
  height: 60px;
  background: #191919;
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.dragdealer .red-bar {
  width: 100px;
  height: 60px;
  background: transparent;
  color: #fff;
  font-size: 26px;
  line-height: 60px;
  text-align: center;
  border: 1px solid white;
}
.dragdealer .disabled {
  background: #898989;
}
