.Map{
  border: 1px dashed #f00;
}

path {
  fill: #000;
  fill-opacity: .8;
  stroke: #fff;
  stroke-width: 1.5px;
}

line {
  stroke: #fff;
  opacity: 0.1
}


#legend {
    padding: 1.5em 0 0 1.5em;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#legend li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: 1em;
    width: 10%;
    padding-left: 0;
    padding-right: 0;
    float: left;
}
