#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center
}

#overlay #close {
  color:white;
  float: right;
  font-size: 24px;
  margin-top: -26px;
  margin-right: -26px;
  cursor: pointer;
  opacity: 0.35
}

#intro {
  margin-top: 19%;
  width: 600px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  font-size: 32px;
  font-weight: 200;
  text-align: center
}

#intro #i2 {
  font-weight: 300
}

#intro #next {
  margin-top: 4%;
  border: 1px solid rgba(255, 255, 255, 0.13);
  padding: 6px;
  font-size: 22px;
  font-weight: 300;
  cursor: pointer;
  line-height: 32px
}

#intro #next:hover {
  background: rgba(255, 255, 255, 0.05)
}

#intro #next.white{
  background: rgba(255, 255, 255, 0.25)
}

.introMode .hiddenForIntro {
  visibility: hidden
}

.barsMode .disabledWhenBars {
  display: none
}

/* Leave some room for the title */
#leSVG {
  margin-left: 130px
}

@media (max-width: 1300px) {
  #leSVG {
    margin-left: 0
  }
}


#playground {
  width: 100%;
  height: 100%;
}

path {
  fill: #000;
  stroke: black;
  stroke-width: 1.5px;
}

line {
  stroke: #fff;
  opacity: 0.07
}






/* Dragdealer */

#dragContainer {
}

.dragdealer {
  position: relative;
  height: 40px;
  background: #191919;
}

.dragdealer i {
  font-size: 40px;
}

.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 1
}

.dragdealer .handle i.pulse:not(.fa-spin) {
  animation:pulse 2s;
  -moz-animation:pulse 2s infinite; /* Firefox */
  -webkit-animation:pulse 2s infinite; /* Safari and Chrome */
}

@-moz-keyframes pulse /* Firefox */
{
  0%   {opacity: 0.05; }
  50% {opacity: 1; margin-left: 10px}
  100%   {opacity: 0.05; }
}

@-webkit-keyframes pulse /* Safari and Chrome */
{
  0%   {opacity: 0.05; }
  50% {opacity: 1; margin-left: 10px}
  100%   {opacity: 0.05; }
}

.dragdealer .red-bar {
  width: 100px;
  height: 40px;
  background: transparent;
  color: #fff;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  border: 1px solid white;
  transition: border 1s;
}

.dragdealer .estimate {
  border: 1px dashed white;
}

.dragdealer .disabled {
  border: none
}
.dragdealer .disabled i {
  font-size: 28px;
  padding: 8px
}


/* Legend */

#legendBlock {
  color: rgba(255, 255, 255, 0.86);
  width: 400px;
  left: 50%;
  position: relative;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#countryName {
  font-weight: bold
}

#legendBlock em {
  color: rgb(157, 157, 157)
}

#legendBlock p {
  color: #eee;
  line-height: 22px;
}

#legendBlock p.info {
  color: #767676;
  font-style: italic;
  font-size: 12px
}

#legendBlock h3 {
  color: #767676
}

#legend {
  padding: 0.5em 0 0 1.5em;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#legend li.key {
  border-top-width: 15px;
  border-top-style: solid;
  font-size: 1em;
  width: 10%;
  padding-left: 0;
  padding-right: 0;
  float: left;
  line-height: 26px;
}



#titleBlock {
  position: absolute;
  left: 5%;
  top: 35%;
  width: 300px
}

#title {
  font-size: 70px
}

#chosenYear {
  color: green;
  font-weight: 300;
  position: relative;
  margin-left: 5px;
  font-size: 85px
}

@media (max-width: 1300px) {
  #title {
    font-size: 28px
  }
  #titleBlock {
    top: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 500px
  }
  #chosenYear {
    font-size: 28px
  }

}




.actions {
  position: absolute;
  right: 1.5%;
  bottom: 38%
}

.action {
  margin-bottom: 30%
}

.action p {
  width: 100px;
}

.action i {
  opacity: 1;
  font-size: 52px;
  padding: 8px
}

.action#trueMap {
  cursor: default;
}
.action#trueMap:hover {
  color: #1A9850
}
.action#visMode:hover {
  color: #198099
}

.action#visMode {
  cursor: pointer;
}

@media (max-width: 1300px) {

  .action i {
    font-size: 30px
  }
}


#info {
  position: absolute;
  bottom: 10px;
  right: 14px;
  color: white;
  opacity: 0.75;
  font-size: 48px
}

#info:hover {
  opacity: 0.8
}
